<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Perfect Pitch</h1>
            <hr>
            <p>Perfect Pitch, is an initiative geared towards equipping budding entrepreneurs with the necessary skills of problem identification, solving and pitching ideas to potential investors. The event solves the challenge entrepreneurs have of access to investors. Perfect Pitch, is a two hour event hosted at the end of every month, in academic institutions.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
